@model FilmIndexViewModel

@{
    ViewData["Title"] = "Filmovi";
}

@{
    bool isAdmin = User.IsInRole("admin");
}

<h1>Filmovi</h1>

@if (isAdmin)
{
    <p>
        <a asp-action="Create"
           class="btn btn-primary">
           Dodaj film
        </a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Zanr</th>
            <th>Godina</th>
            <th>Reziseri</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var film in Model.Filmovi)
        {
            <tr>
                <td>@film.Naziv</td>
                <td>@film.Zanr.Naziv</td>
                <td>@film.GodinaIzdanja</td>
                <td>
                    @string.Join(", ", film.Reziseri.Select(r => r.Naziv))
                </td>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@film.Id">
                        Detalji
                    </a>

                    @if (isAdmin)
                    {
                        <text> | </text>

                        <a asp-action="Edit"
                           asp-route-id="@film.Id">
                            Izmeni
                        </a>

                        <text> | </text>

                        <a asp-action="Delete"
                           asp-route-id="@film.Id">
                            Obrisi
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    int currentPage = Model.CurrentPage;
    int totalPages = Model.TotalPages;
}

<nav>
    <ul class="pagination">

        @if (currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(currentPage - 1)">
                    Prethodna
                </a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@i">
                    @i
                </a>
            </li>
        }

        @if (currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(currentPage + 1)">
                    Sledeca
                </a>
            </li>
        }

    </ul>
</nav>
